<!DOCTYPE html>
<html>
<head>
	<title>My Custom Musictextgenerator</title>
	<link rel="stylesheet" href={{ url_for('static', filename='index.css') }}>
</head>
<body>
	<h1>My Custom Musictextgenerator</h1>
	<form action="{{ url_for('handle_data') }}" method="post">
		<label for="groesse">
		    Lines: 
		    <input id="lines" name="lines" type="number" min="1" max="100" step="1" value="{{ lineCount }}">
		</label>
		Thema:
		<input type="text" name="topic" value="{{ last_topic }}">
		<input type="submit" value="Nochmal Rolln">
	</form>
    <div id="result">{{ result }}</div>
</body>
</html>